<p-panel header="Pipes personalizados" class="p-1">
  <p>
    Pipes personalizados creados por mí {{'Kevin Hernandez' | toggleCase:isUpperCase }}
  </p>
  <p-button label="ToggleCase" icon="pi pi-search" (click)="toggleUpperCase()" />
</p-panel>


<p-toolbar>
  <div class="p-toolbar-group-start">
    <p>Pipes de ordenamiento aplicado a arreglos de objetos</p>

  </div>
  <div class="p-toolbar-group-end">
    <div class="grip">
      <div class="flex flex-column md:flex-row md:justify-content-between row-gap-3">

        <p-button label="For name" icon="pi pi-sort" styleClass="p-button-success p-button " class="mr-2"
          (onClick)="changeOrderbyKeyOfHero('name')" />


        <p-button label="Can fly " icon="pi pi-sort" styleClass="p-button-danger   p-button" class="mr-2 "
          (onClick)="changeOrderbyKeyOfHero('canFly')" />


        <p-button label="For color " icon="pi pi-sort" styleClass="p-button-help  p-button " class="mr-2"
          (onClick)="changeOrderbyKeyOfHero('color')" />

      </div>
    </div>
  </div>
</p-toolbar>


<div class="grip">
  <div class="col mt-2">
    <p-panel header="Héroes">

      <p-table [value]="heroes | sortBy:keySortBy " styleClass="p-datatable-gridlines"  [tableStyle]="{ 'min-width': '25rem' }">
        <ng-template pTemplate="header">
          <tr>
            <th class="text-primary">Name</th>
            <th class="text-primary">Can fly</th>
            <th class="text-primary">Color</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-hero>
          <tr>
            <td>{{ hero.name }}</td>
            <td>{{ hero.canFly | canFly | titlecase}}</td>
            <td>{{ hero.color | titlecase }}</td>
          </tr>
        </ng-template>
      </p-table>
    </p-panel>
  </div>
</div>
